<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Suit filter</h1>
{% load list_filters %}

{% for card in cards|suit:"diamond"  %}
    <p>Suit: {{ card.get_suit_display }}, Rank: {{ card.rank }}</p>
{% endfor %}
{% load list_filters %}
<h1>question 1</h1>
{% for card in cards|aces %}
    <p>Suit: {{ card.get_suit_display }}, Rank: {{ card.rank }}</p>
{% endfor %}

{% load list_filters %}
<h1>question 2</h1>
{% for card in cards|rank:"jack" %}
    <p>Suit: {{ card.get_suit_display }}, Rank: {{ card.rank }}</p>
{% endfor %}
{% load list_filters %}
<h1>question 3</h1>
{% for card in cards|shuffle %}
    <p>Suit: {{ card.get_suit_display }}, Rank: {{ card.rank }}</p>
{% endfor %}
</body>
</html>